.main-head {
  position: relative;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;

  color: white;
  background: url('../images/bg-pattern.png'), $theme-secondary;
  //background: url('../images/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
  //background: url('../images/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);df
  .header-content {
    max-width: 500px;
    margin-bottom: 0;
  }
  text-align: center;
  @media (min-width: 992px) {
    height: 200px;
    min-height: 200px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
      margin-bottom: 0;
      text-align: center;
      h1 {
        font-size: 45px !important;
      }
    }
  }
}