.homehead {
  position: relative;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;

  color: white;
  background: url('../images/bg-pattern.png'), $theme-secondary;
  //background: url('../images/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
  //background: url('../images/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);df
  .header-content {
    max-width: 500px;
    margin-bottom: 100px;

    text-align: center;
    h1 {
      font-size: 30px !important;
    }
  }
  .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
      border-radius: 3px;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    .header-content {
      margin-bottom: 0;

      text-align: left;
      h1 {
        font-size: 45px !important;
      }
    }
    .device-container {
      max-width: 325px;
    }
  }
}

section.features {
  width: 100%;
  .section-heading {
    margin-bottom: 100px;
    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .block-titles {
    color: rgba(0, 0, 32, 0.9);
    font-weight: 400;
    overflow-wrap: break-word;
    font-size: 24px;
    line-height: 30px;
  }
  .block {
    @media (max-width: 788px) {
      width: 100%;
      border-right: 0 !important;
      border-bottom: 1px solid rgba(209, 210, 211, 0.3);
      padding: 24px;
    }
  }
}

section.screenshots {
  width: 100%;
  background-color: #eee;
  .section-heading {
    margin-bottom: 100px;
    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .slick-next {
    &:before {
      font-size: 25px;
      color: $gray-dark;
      content: url(https://www.cityofdenton.com/CoD/media/City-of-Denton/Assets/Right-Arrow-gray.svg);
    }
  }
  .slick-prev {
    &:before {
      font-size: 25px;
      color: $gray-dark;
      content: url(https://www.cityofdenton.com/CoD/media/City-of-Denton/Assets/Left-Arrow-gray.svg);
    }
  }
  .pic {
    width: 240px;
    padding: 0 10px;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

section.contact {
  width: 100%;
  background: linear-gradient(#fdcc52,#fdc539);
  .section-heading {
    margin-bottom: 100px;
    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .contact-form {
    padding: 0 150px;
    @media (max-width: 992px) {
      padding: 0;
    }
    .input-message {
      background: transparent;
      border-radius: 10px;
      color: #333;
      font-size: 15px;
      border: 1px solid #333;
      height: 135px;
      margin-bottom: 24px;
    }
    .input-fields {
      background: transparent;
      border-radius: 10px;
      color: #333;
      font-size: 15px;
      border: 1px solid #333;
      height: 50px;
      margin-bottom: 24px;
    }
    .btn-outline {
      color: #333;
      border: 1px solid !important;
      border-color: #333 !important;
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: #333;
        border-color: #f3f3f3 !important;
        background-color: #f3f3f3;
      }
    }
  }
}