@import "variables";
@import "mixins";

// Bootstrap overrides for this template
.bg-primary {
  background: $theme-primary;
  background: -webkit-linear-gradient($theme-primary, darken($theme-primary, 5%));
  background: linear-gradient($theme-primary, darken($theme-primary, 5%));
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid !important;
  border-color: white !important;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white;
    border-color: $theme-primary !important;
    background-color: $theme-primary;
  }
}

.btn {
  border-radius: 300px !important;
  @include alt-font;
}

.btn-md {
  font-size: 12px !important;
  margin: 5px !important;
  padding: 15px 25px !important;
  color: $theme-primary;
  border: 1px solid !important;
  border-color: $theme-primary !important;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white;
    border-color: $theme-primary !important;
    background-color: $theme-primary;
  }
}

.btn-xl {
  font-size: 11px !important;
  padding: 15px 45px !important;
}