@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.bg-primary {
  background: #eeac01;
  background: -webkit-linear-gradient(#eeac01, #d59a01);
  background: linear-gradient(#eeac01, #d59a01); }

.text-primary {
  color: #eeac01; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid !important;
  border-color: white !important; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #eeac01 !important;
    background-color: #eeac01; }

.btn {
  border-radius: 300px !important;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif' !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important; }

.btn-md {
  font-size: 12px !important;
  margin: 5px !important;
  padding: 15px 25px !important;
  color: #eeac01;
  border: 1px solid !important;
  border-color: #eeac01 !important; }
  .btn-md:hover, .btn-md:focus, .btn-md:active, .btn-md.active {
    color: white;
    border-color: #eeac01 !important;
    background-color: #eeac01; }

.btn-xl {
  font-size: 11px !important;
  padding: 15px 45px !important; }

#mainNav {
  padding: 15px 50px;
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif' !important;
  font-weight: 200 !important;
  letter-spacing: 1px !important; }
  #mainNav .navbar-brand {
    color: #eeac01;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: 200 !important;
    letter-spacing: 1px !important; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #bb8701; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif' !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important; }
    #mainNav .navbar-nav > li > a.active {
      color: #eeac01 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #eeac01; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav .nav-link > a,
      #mainNav .nav-link > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .nav-link > a:hover,
        #mainNav .nav-link > a:focus:hover {
          color: white;
          text-decoration: none; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #eeac01; }
        #mainNav.navbar-shrink .nav-link > a,
        #mainNav.navbar-shrink .nav-link > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .nav-link > a:hover,
          #mainNav.navbar-shrink .nav-link > a:focus:hover {
            color: #eeac01; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #eeac01; } }

.homehead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../images/bg-pattern.png"), #4f4380; }
  .homehead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    .homehead .header-content h1 {
      font-size: 30px !important; }
  .homehead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    .homehead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    .homehead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      .homehead .header-content {
        margin-bottom: 0;
        text-align: left; }
        .homehead .header-content h1 {
          font-size: 45px !important; }
      .homehead .device-container {
        max-width: 325px; } }

section.features {
  width: 100%; }
  section.features .section-heading {
    margin-bottom: 100px; }
    section.features .section-heading h2 {
      margin-top: 0; }
    section.features .section-heading p {
      margin-bottom: 0; }
  section.features .block-titles {
    color: rgba(0, 0, 32, 0.9);
    font-weight: 400;
    overflow-wrap: break-word;
    font-size: 24px;
    line-height: 30px; }
  @media (max-width: 788px) {
    section.features .block {
      width: 100%;
      border-right: 0 !important;
      border-bottom: 1px solid rgba(209, 210, 211, 0.3);
      padding: 24px; } }

section.screenshots {
  width: 100%;
  background-color: #eee; }
  section.screenshots .section-heading {
    margin-bottom: 100px; }
    section.screenshots .section-heading h2 {
      margin-top: 0; }
    section.screenshots .section-heading p {
      margin-bottom: 0; }
  section.screenshots .slick-next:before {
    font-size: 25px;
    color: #333333;
    content: url(https://www.cityofdenton.com/CoD/media/City-of-Denton/Assets/Right-Arrow-gray.svg); }
  section.screenshots .slick-prev:before {
    font-size: 25px;
    color: #333333;
    content: url(https://www.cityofdenton.com/CoD/media/City-of-Denton/Assets/Left-Arrow-gray.svg); }
  section.screenshots .pic {
    width: 240px;
    padding: 0 10px;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

section.contact {
  width: 100%;
  background: linear-gradient(#fdcc52, #fdc539); }
  section.contact .section-heading {
    margin-bottom: 100px; }
    section.contact .section-heading h2 {
      margin-top: 0; }
    section.contact .section-heading p {
      margin-bottom: 0; }
  section.contact .contact-form {
    padding: 0 150px; }
    @media (max-width: 992px) {
      section.contact .contact-form {
        padding: 0; } }
    section.contact .contact-form .input-message {
      background: transparent;
      border-radius: 10px;
      color: #333;
      font-size: 15px;
      border: 1px solid #333;
      height: 135px;
      margin-bottom: 24px; }
    section.contact .contact-form .input-fields {
      background: transparent;
      border-radius: 10px;
      color: #333;
      font-size: 15px;
      border: 1px solid #333;
      height: 50px;
      margin-bottom: 24px; }
    section.contact .contact-form .btn-outline {
      color: #333;
      border: 1px solid !important;
      border-color: #333 !important; }
      section.contact .contact-form .btn-outline:hover, section.contact .contact-form .btn-outline:focus, section.contact .contact-form .btn-outline:active, section.contact .contact-form .btn-outline.active {
        color: #333;
        border-color: #f3f3f3 !important;
        background-color: #f3f3f3; }

.App-title {
  color: #eeac01;
  font-weight: 400;
  text-align: center; }

.content-container {
  width: 100%;
  transform: translate(0, 0);
  position: relative; }
