@import "variables";
@import "mixins";
@import "overrides";
@import "mainNav";
@import "home";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {

}

.App-title {
  color: #eeac01;
  font-weight: 400;
  text-align: center;
}
.content-container {
  width: 100%;
  transform: translate(0,0);
  position: relative;
}


